/* Layout Principal */
:root {
    --max-width: 12000px;
    --container-padding: 2rem;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden; /* previne scroll horizontal */
}

header {
    grid-area: header;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 1rem 0;
    align-items: center;
    gap: 1.5rem;
}

nav ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.conteiner {
    grid-area: main;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

section {
    width: 100%;
    position: relative;
    justify-content: center;
}


section#home {
    display: flex;
    flex-direction: column;
    gap: 0; 
}

.content-card {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    border-radius: 8px; 
    margin: 1rem auto;
    width: clamp(320px, calc(100% - 2rem), var(--max-width));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.hero-background {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
.gap {
    height: 10vh;
    width: 100%;
    margin-top: -2px; 
    padding: 0;
    display: block;
}

.gap-banner {
    height: 10vh;
    width: 100%;
    margin: 0;
    padding: 1rem 1rem 1rem 0;
    display: block;
 
}

footer {
    grid-area: footer;
    width: 100%;
    padding: 1rem;
    text-align: center;
    bottom: 0;
}

/* Responsividade */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 0.5rem;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .conteiner {
        padding: 0.5rem;
    }

    .content-card {
        width: calc(100% - 2rem);
        padding: 1rem;
        margin: 0.2rem auto;
    }

    section {
        min-height: 40vh;
    }
}

/* Suporte para telas grandes */
@media (min-width: 1200px) {
    .conteiner {
        padding: 1rem;
    }

    section {
        min-height: 80vh;
    }
}

/* Layout Adaptacoes */

.duas_midias{
    display: flex;
    margin: 1rem auto;
    height: 12rem;
    width: 40%;
}

#img-adatp-1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 12rem;
}