/* cores e estilos */ 
body{
   background-color: antiquewhite;
   
}

nav{
    background-color:beige;
    padding: 10px;
    margin: 0;
    
}

#nav{
    display: flex;
}

nav li{
    margin-right: 10px;
    list-style: none;
}

.fundo{
    background-image: url(../images/fundo.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightgray;
    height: 100vh;
    margin: 0;
    padding: 0;
}